@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-dark: #043873;
  --primary-light: #4f9cf9;
  --secondary-yellow: #ffe492;
  --secondary-light: #f3f7ff;
  --secondary-dark: #212529;
  --bg-color: #ffffff;

  --max-width: 1200px;
  --transition: 0.3s ease;
  --radius: 8px;
}

#announcement    {
  padding: 20px 30px;
  background: #f4f6f9;
  height: 100vh;
}

.page-title {
  color: var(--primary-dark);
  margin-bottom: 8px;
}

.breadcrumbs {
  color: var(--primary-light);
  font-size: 0.9rem;
  margin-bottom: 25px;
  list-style: none;
  display: flex;
  padding: 10px;
}
