/* ForgotPassword.css */

/* Overall Layout */
.forgot-password-container {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafc;
  font-family: "Inter", sans-serif;
}

/* Left Section */
.forgot-password-left {
  flex: 1;
  background-color: #f0f6ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hospital-name {
  font-size: 4.5rem;
  color: var(--primary-color);
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.hospital-subtitle {
  font-size: 3.1rem;
  color: var(--primary-color);
  font-weight: 600;
}

/* Right Section */
.forgot-password-right {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-form {
  width: 90%;
  max-width: 460px;
  background-color: #fff;
  padding: 50px;
  border-radius: 12px;
}

/* Title */
.forgot-password-title {
  text-align: center;
  color: #043873;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

/* Form Layout */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

/* Inputs */
.form-input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 15px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  color: #333;
  background-color: #fff;
  outline: none;
  height: 40px;
  line-height: 1.4;
}

.form-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 4px rgba(4, 56, 115, 0.2);
}

/* Input + Button Row */
.input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Send Code Button */
.send-code-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 40px;
  width: 90px;
  font-size: 10px;
  
}

.send-code-button:hover {
  background-color: #032c5f;
}

/* Submit Button */
.submit-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #032c5f;
}

/* Back to Login Link */
.back-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  color: #043873;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .forgot-password-container {
    flex-direction: column;
  }

  .forgot-password-left {
    display: none;
  }

  .forgot-password-right {
    flex: unset;
    width: 100%;
  }

  .forgot-password-form {
    width: 100%;
    max-width: 90%;
    margin: 2rem auto;
    padding: 2rem;
  }

  .forgot-password-title {
    font-size: 1.8rem;
  }
}
