@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-dark: #043873;
  --primary-light: #4f9cf9;
  --secondary-yellow: #ffe492;
  --secondary-light: #f3f7ff;
  --secondary-dark: #212529;
  --bg-color: #ffffff;

  --max-width: 1200px;
  --transition: 0.3s ease;
  --radius: 8px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 30;
  height: 70px;

}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.toggle-sidebar-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
}

.toggle-sidebar-btn:hover {
  color: #0d6efd;
}

.welcome-text {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-dark);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
}

.username {
  font-size: 0.95rem;
  color: #333;
}

.user-icon {
  font-size: 1.5rem;
  color: #333;
}
