<link rel="stylesheet" href="style.css">

<div class="footer-content">
    <div class="footer-column">
        <h4>Hospitaled</h4>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>Home</h4>
        <ul>
            <li><a href="#">Events</a></li>
            <li><a href="#">Our Doctors</a></li>
            <li><a href="#">Mission and Vision</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>Our Services</h4>
        <ul>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Emergency Care</a></li>
            <li><a href="#">Help Center</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h4>About</h4>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Events and News</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
</div>
<div class="footer-bottom">
    <p>&copy; 2025 Hospitaled. All rights reserved.</p>
    
</div>