<nav aria-label="Main navigation" class="nav-menu">
  <ul>
    <li><a id="nav-home" href="/index.html">Home</a></li>
    <li><a href="/services.html">Services</a></li>
    <li><a href="/doctors.html">Doctors</a></li>

    <!-- Dropdown for News -->
    <li class="dropdown">
  <a href="/news.html" class="dropbtn" id="newsDropdownBtn">
    News
  </a>
  <ul class="dropdown-content">
    <li><a href="/news.html" id="newsLink">News</a></li>
    <li><a href="/announcement.html" id="announcementLink">Announcements</a></li>
  </ul>
</li>


    <li><a href="/careers.html">Careers</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a id="nav-book" href="/book.html">Book an Appointment</a></li>
  </ul>
</nav>
