<nav aria-label="Main navigation" class="nav-menu">
  <ul>
    <li><a id="nav-home" href="/index.html">Home</a></li>
    <li>
      <a href="/services.html" aria-haspopup="true" aria-expanded="false"
        >Services</a
      >
    </li>
    <li>
      <a href="/doctors.html" aria-haspopup="true" aria-expanded="false"
        >Doctors</a
      >
    </li>
    <li><a href="/news.html">News</a></li>
    <li><a href="/careers.html">Careers</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a id="nav-book" href="/book.html">Book an Appointment</a></li>
  </ul>
</nav>
